@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-navy-1 text-white-1;
  font-family: "Inter", sans-serif;
  scrollbar-color: #233554 transparent;
}

body::-webkit-scrollbar {
  @apply w-2 bg-transparent h-full;
}

body::-webkit-scrollbar-thumb {
  @apply bg-navy-3 rounded-md;
}

.AccentFont {
  font-family: "Fira Code", sans-serif;
}
